<div class="home-container">
  <!-- START HEADER -->
  <div class="header">
    <mat-toolbar class="navbar">

      <!-- LOGO -->
      <div class="logo">
        Andres.dev
      </div>

      <!-- MENU -->
      <nav class="nav-links">

        <a href="#about">About</a>
        <a href="#skills">Skills</a>
        <a href="#experience">Experience</a>
        <a href="#contact">Contact</a>

      </nav>

      <!-- ACTIONS -->
      <div class="actions">

        <!-- LANGUAGE -->
        <mat-button-toggle-group value="spanish" [hideSingleSelectionIndicator]="true"
          (change)="onChangueLenguageSelected($event)">
          <mat-button-toggle value="spanish">ES</mat-button-toggle>
          <mat-button-toggle value="english">EN</mat-button-toggle>
        </mat-button-toggle-group>
        <!-- DARK MODE -->
        <button mat-icon-button (click)="toggleTheme()">
          <mat-icon>
            {{ darkMode ? 'light_mode' : 'dark_mode' }}
          </mat-icon>
        </button>

        <!-- CV BUTTON -->
        <button mat-raised-button color="primary" (click)="downloadCV()">
          Download CV

        </button>

      </div>

    </mat-toolbar>
  </div>
  <!-- END HEADER -->

  <!-- START SHORT INTRODUCTION -->
  <div></div>
</div>