<h1 class="contact-title"> {{ dataToFillContactInfo.contactTitle }}</h1>
<div class="contact-container">
  <div class="contact-item">
    <i class="fa-solid fa-envelope contact-icon"></i>
    <div class="contact-info">
      <h3>{{ dataToFillContactInfo.emailLabel }}</h3>
      <span>{{ dataToFillContactInfo.email }}</span>
    </div>
  </div>
  <div class="contact-item">
    <i class="fa-solid fa-phone contact-icon"></i>
    <div class="contact-info">
      <h3>{{ dataToFillContactInfo.phoneLabel }}</h3>
      <span>{{ dataToFillContactInfo.phone }}</span>
    </div>
  </div>
  <div class="contact-item">
    <i class="fa-solid fa-location-dot contact-icon"></i>
    <div class="contact-info">
      <h3>{{ dataToFillContactInfo.locationLabel }}</h3>
      <span>{{ dataToFillContactInfo.location }}</span>
    </div>
  </div>
  <div class="contact-item">
    <i class="fa-brands fa-linkedin contact-icon"></i>
    <div class="contact-info">
      <h3>{{ dataToFillContactInfo.linkedinLabel }}</h3>
      <span>{{ dataToFillContactInfo.linkedin }}</span>
    </div>
  </div>
  <div class="contact-item">
    <i class="fa-brands fa-github contact-icon"></i>
    <div class="contact-info">
      <h3>{{ dataToFillContactInfo.githubLabel }}</h3>
      <span>{{ dataToFillContactInfo.github }}</span>
    </div>
  </div>
</div>